.navbar {
  display: flex;
  direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.navlinks a {
  display: inline-block;
  margin: 20px;
  border: 1px solid coral;
  padding: 10px;
  border-radius: 15%;
}
.main {
  width: 70%;
  display: flex;
  padding: 4em;
  justify-content: center;
}

.blog-preview {
  margin: 2em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
